body {
  background: #66d9ff;
  width: 100%;
}
/* =================== MENU ===================== */
header{
  width:100%; 
  background:#99ff99; 
  height:50px; 
  line-height:50px;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#8b008b;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#8b008b;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu {
  z-index:1000000; 
  font-weight:bold; 
  font-size:0.8em; 
  width:100%; 
  background:#99ff99;  
  position:absolute; 
  text-align:center;
}

.menu ul {
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}

.menu li {
  display: block;   
  padding:15px 0 15px 0; 
 /* border-bottom:#1d1f20 1px solid;*/
}

.menu li:hover {
  display: block;    
  background:#66d9ff; 
  padding:15px 0 15px 0; 
  /*border-bottom:#1d1f20 1px solid;*/
}

.menu ul li a { 
  text-decoration:none;  
  margin: 0px; 
  color:#fff;
}

.menu ul li a:hover {  
  color: #fff; 
  text-decoration:none;
}

.menu a {
  text-decoration:none; 
  color: #8b008b;
  text-shadow: 2px #ff66ff;
}

.menu a:hover {
  text-decoration:none; 
  color: #555555;
}
/* =============== HOME/ABOUT ===================== */
#hello {
  background: #66d9ff;
  color: #555555;
  padding-top: 181px;
}

#hello a {
  color: #8b008b;
  text-decoration: none;
}

#hello a:hover {
  color: #555555;
  text-decoration: none;
}

#hello img {
  float: left;
  padding-right: 8px;
  width: 500px;
  max-width: 100%;
  height: auto;
}

@media all and (max-width: 944px) and (min-width: 400px) {
  #hello p {
    padding-left: 22px;
  }
  #contact {
    padding-left: 10px;
  }
}

@media all and (max-width: 995px) and (min-width: 930px) {
  #hello p {
    width: 90%;
  }
}

@media all and (max-width: 834px) and (min-width: 829px) {
  #hello p {
    width: 90%;
  }
}

@media all and (max-width: 770px) and (min-width: 710px) {
  #hello p {
    width: 90%;
  }
}
/* ===================PROJECTS =================== */
#food_roulette {
  padding-top: 30px;
}

#food_roulette a {
  color: #8b008b;
  text-decoration: none;
}

#project1_desc {
  color: #555555;
}

#jukebox {
  color: #555555;
}

#jukebox h6 {
  color: #8b008b;
}

@media all and (min-width: 945px) {
  #descriptions {
    float: right;
  }
}

@media all and (max-width: 991px) {
  #food_roulette {
    padding-left: 70px;
    padding-bottom: 100px;
    width: 400px;
  }

@media all and (min-width: 1180px) {
  #project1 {
    text-align: center;
    width: 75%;
  }
  #project2 {
  text-align: center;
  width: 75%;
  }
}

  #project1_img {
    margin-bottom: -85px;
  }

  #project2 {
    padding-left: 40px;
  }

  #jukebox {
    padding-left: 25px;
    width: 400px;
  }
}

@media all and (max-width: 1370px) and (min-width: 992px) {
  #food_roulette {
    padding-left: 152px;
  }

  #jukebox {
    padding-left: 152px;
  }
}

@media all and (max-width: 1920px) and (min-width: 946px) {
  #descriptions {
    float: none;
  }
}

@media all and (max-width: 944px) and (min-width: 400px) {
  #wrapper {
    text-align: left;
  }

  #descriptions {
    float: left;
    position: absolute;
    width: 250px;
  }

  #description {
    width: 200px;
  }
}
/* ==================== CONTACT ==================== */
/*#info {
  color: #555555;
  padding-top: 150px;
  text-align: center;
}*/

#info h3 {
  color: #8b008b;
}

#info a {
  color: #8b008b;
  text-decoration: none;
}

#info a:hover {
  color: #555555;
}